#title {
    text-align: center;
    padding-top: 400px;
    padding-bottom: 400px;
    background-image: url('img/architecture.jpg');
    background-size: cover;
}

h1 {
    background-color: #E3D6CA;
    margin: 20px 100px;
    padding: 10px;
    border-style: solid;
}

#context {
    text-align: center;
    background-color: #E3D6CA;
    padding: 20px;
}

#context1 {
    background-color: #F9EFEA;
    padding: 30px;
}

#present {
    text-align: center;
    background-color: #E3D6CA;
    padding: 20px;
}

#software {
    padding: 30px;
    background-color: #F9EFEA;
    border-style: solid;
    border-width: 0.5px;
}

#hardware {
    padding: 30px;
    background-color: #F9EFEA;
    border-style: solid;
    border-width: 0.5px;
}

#future {
    text-align: center;
    background-color: #E3D6CA;
    padding: 20px;
}

#future1 {
    background-color: #F9EFEA;
    padding: 30px;
}

#aframe {
    height: 300px;
    width: 500px;
}

@media only screen and (min-width: 768px) {
    h1 {
        margin: 20px 200px;
    }
}

@media only screen and (min-width: 992px) {
    h1 {
        margin: 20px 310px;
    }
}