#title {
    text-align: center;
    padding-top: 400px;
    padding-bottom: 400px;
    background-image: url('img/architecture2.jpg');
    background-size: cover;
}

#context {
    text-align: center;
    background-color: #E3D6CA;
    padding: 20px;
}

#context1 {
    background-color: #F9EFEA;
    padding: 30px;
}

#present {
    text-align: center;
    background-color: #E3D6CA;
    padding: 20px;
}

#software {
    padding: 30px;
    background-color: #F9EFEA;
}

#hardware {
    padding: 30px;
    background-color: #F9EFEA;
}

#future {
    text-align: center;
    background-color: #E3D6CA;
    padding: 20px;
}

#future1 {
    background-color: #F9EFEA;
    padding: 30px;
}

#aframe {
    height: 300px;
    width: 600px;
}
